<style>
	.debug {
		background-color: rgba(255,0,0,0.25);
		border: 1px red solid;
		box-sizing: border-box;
	}
	body {
		width: 800px;
		height: 1000px;
		background-color: black;
		margin: 0 auto 0 auto;
	}
	body *::-webkit-scrollbar {
		width: 7px;
		margin-right: 15px !important;
		background-color: antiquewhite;
		border-radius: 5px;
		outline: 1px solid black;
	}
	body *::-webkit-scrollbar-thumb {
		border-radius: 5px;
		margin-right: 15px !important;
		background-color: dimgrey;
	}
	input {
		color: {{settings.inputcolor}};
	}
	input:focus-visible {
		outline: unset;
	}
	textarea {
		color: {{settings.inputcolor}};
	}
	div.content {
		height: calc(100% - 50px);
		overflow: auto;
	}
	.experience_log .content,
	.psychology .content,
	.mutation .content,
	.wounds .content {
		height: calc(100% - 30px);
	}
	body>div {
		width: 800px;
		height: 1000px;
		box-sizing: border-box;
		padding: 5%;
		margin-bottom: 10px;
		background: no-repeat url(https://raw.githubusercontent.com/nPocToI4eJI/wfrp4e-print-sheet/refs/heads/main/assets/background.png);
		background-size: contain;
	}
	body>div>div {
		border: 3px solid black;
	}
	body>div>div:not(:last-child) {
		border-bottom: unset;
	}

	.details div,
    .characteristics div,
    .fate div,
    .resilience div,
    .experience div,
    .move div,
	.basic_skills_1 div,
	.basic_skills_2 div:not(.content),
	.advanced_skills div:not(.content),
	.talents div:not(.content),
	.personal_ambitions div,
	.party_ambitions div,
	.experience_log div:not(.content),
	.notes div,
	.armour div:not(.content),
	.trapping div:not(.content),
	.psychology div:not(.content),
	.mutation div:not(.content),
	.money div,
	.encumbrance div,
	.wounds div:not(.content),
	.weapon div:not(.content),
	.magic div:not(.content) {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20px;
		font-size: 12px;
		box-sizing: border-box;
        overflow: hidden;
	}
	.details div div>input,
	.characteristics div>input,
	.fate div>input,
    .resilience div>input,
    .experience div>input,
    .move div>input,
	.basic_skills_1 div>input,
	.basic_skills_2 div>input,
	.advanced_skills div>input,
	.talents div>input,
	.personal_ambitions div>textarea,
	.party_ambitions div>textarea,
	.experience_log div>input,
	.notes div>textarea,
	.armour div>input,
	.trapping div>input,
	.psychology div>input,
	.mutation div>input,
	.money div>input,
	.encumbrance div>input,
	.wounds div>input,
	.weapon div>input,
	.magic div>input {
		width: 100%;
		height: 20px;
		font-size: 12px;
		box-sizing: border-box;
		background: unset;
		border: unset;
		text-align: center;
	}
	.details div:not(:last-child) div:has(>span),
	.details div:not(:last-child) div:has(>input),
	.characteristics div:not(:last-child):has(>div),
	.characteristics div:not(:last-child):has(>input),
	.fate div:not(:last-child):has(>div),
	.fate div:not(:last-child):has(>input),
	.resilience div:not(:last-child):not(:first-child):has(>div),
	.resilience div:not(:last-child):not(:first-child):has(>input),
	.experience div:not(:last-child):has(>div),
	.move>div:first-child,
	.basic_skills_1 div:not(:last-child):has(>div),
	.basic_skills_2 div:not(:last-child):has(>div),
	.advanced_skills div:not(:last-child):has(>div),
	.talents div:not(:last-child):has(>*),
	.personal_ambitions div:not(:last-child):has(>div),
	.party_ambitions div:not(:last-child):has(>div),
	.experience_log div:not(:last-child):has(>input),
	.armour div:not(:last-child):has(>div),
	.armour>div:nth-child(2),
	.armour div:not(:last-child):has(>input),
	.trapping div:not(:last-child):has(>div),
	.trapping>div:nth-child(2),
	.trapping div:not(:last-child):has(>input),
	.psychology div:not(:last-child):has(>input),
	.mutation div:not(:last-child):has(>input),
	.money div:not(:last-child):has(>input),
	.encumbrance div:not(:last-child):has(>input),
	.wounds div:not(:last-child):has(>input),
	.weapon div:not(:last-child):has(>div),
	.weapon>div:nth-child(2),
	.weapon div:not(:last-child):has(>input),
	.magic div:not(:last-child):has(>div),
	.magic>div:nth-child(2),
	.magic div:not(:last-child):has(>input) {
		border-bottom: 1px black solid;
	}
	.details div div:has(>span):has(+div),
	.details div div:has(>input):has(+div),
	.characteristics div div:has(+div),
	.characteristics div div:has(+input),
	.characteristics div input:has(+input),
	.fate div div:has(+input),
    .resilience div div:has(+input),
    .experience div div:has(+div),
    .move div:last-child div div,
    .basic_skills_1 div div:has(+div),
    .basic_skills_1 div input:not(:last-child),
    .basic_skills_1 div div:has(+input),
    .basic_skills_2 div:nth-child(2) div:has(+div),
    .basic_skills_2 .content>div input:not(:last-child),
    .basic_skills_2 .content>div div:has(+input),
    .advanced_skills div:nth-child(2) div:has(+div),
    .advanced_skills .content>div input:not(:last-child),
    .advanced_skills .content>div div:has(+input),
    .talents div:nth-child(2) div:has(+div),
    .talents .content>div input:not(:last-child),
    .personal_ambitions div div:has(+textarea),
    .party_ambitions div div:has(+textarea),
    .experience_log .content>div input:has(+input),
    .armour div:nth-child(2) div:has(+div),
    .armour .content>div input:not(:last-child),
    .trapping div:nth-child(2) div:has(+div),
    .trapping .content>div input:not(:last-child),
    .money div div:has(+input),
    .encumbrance div div:has(+input),
    .wounds .content>div input:has(+input),
    .weapon div:nth-child(2) div:has(+div),
    .weapon .content>div input:not(:last-child),
    .magic div:first-child div:has(+input),
    .magic div:nth-child(2) div:has(+div),
    .magic .content>div input:not(:last-child) {
		border-right: 1px black solid;
	}
	.characteristics>div:first-child,
	.fate>div:first-child,
	.resilience>div:first-child,
	.experience>div:first-child,
	.move>div:first-child,
	.basic_skills_1>div:first-child,
	.basic_skills_2>div:first-child,
	.advanced_skills>div:first-child,
	.talents>div:first-child,
	.personal_ambitions>div:first-child,
	.party_ambitions>div:first-child,
	.experience_log>div:first-child,
	.notes>div:first-child,
	.armour>div:first-child,
	.trapping>div:first-child,
	.psychology>div:first-child,
	.mutation>div:first-child,
	.money>div:first-child,
	.encumbrance>div:first-child,
	.wounds>div:first-child,
	.weapon>div:first-child,
	.magic>div:first-child {
		height: 30px;
		font-size: 16px;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		border-bottom: 1px black solid;
	}
	.basic_skills_2>div:not(:first-child),
	.advanced_skills>div:not(:first-child),
	.talents>div:not(:first-child),
	.experience_log>div:not(:first-child),
	.armour>div:not(:first-child),
	.trapping>div:not(:first-child),
	.psychology>div:not(:first-child),
	.mutation>div:not(:first-child),
	.wounds>div,
	.weapon>div:not(:first-child),
	.magic>div:not(:first-child) {
		scrollbar-gutter: stable;
	}

	.details {
		width: 100%;
		height: 80px;
	}
	.details div div>input {
		text-align: right;
    }
	.details div div>span {
		margin-left: 2px;
		margin-right: 5px;
		white-space: nowrap;
	}

	.characteristics_body {
		width: 100%;
		height: 130px;
		display: grid;
		grid-template-columns: 40% 15% 25% 20%;
		grid-template-rows: 70px 60px;
		grid-template-areas:
			"characteristics . . ."
			"characteristics move move move";
	}
	.characteristics_body>div:not(:last-child):not(:nth-last-child(2)) {
		border-right: 3px black solid;
	}
	.characteristics_body>div:last-child {
		border-top: 3px black solid;
	}
	
	.characteristics {
		grid-area: characteristics;
	}
	.characteristics div>div:first-child {
		overflow: hidden;
	}

	.resilience div input+div:last-child {
		border-left: 1px black solid;
	}
	.resilience div div:has(input):last-child {
        border-left: 2px black solid;
	}

	.move {
		grid-area: move;
		padding-top: 10px;
	}
    .move div:last-child div:not(:last-child) input {
		border-right: 2px black solid;
	}

	.skills {
		width: 100%;
		height: 290px;
		display: grid;
		grid-template-columns: 33% 33% 34%;
	}
	.skills>div:not(:last-child) {
		border-right: 3px black solid;
	}

	.basic_skills_1 {
		height: 100%;
	}
	.basic_skills_2 {
		height: 100%;
		overflow: hidden;
	}
	.advanced_skills {
		height: 100%;
		overflow: hidden;
	}
	.basic_skills_1 div input:first-child,
	.basic_skills_2 div input:first-child,
	.advanced_skills div input:first-child {
		text-align: left;
		justify-content: unset;
		font-size: 10px;
	}
	
	.talents_ambitions {
		width: 100%;
		height: 300px;
		display: flex;
	}
	.talents_ambitions>div:not(:last-child) {
		border-right: 3px black solid;
	}

	.talents {
		width: 45%;
		height: 100%;
		overflow: hidden;
	}
	.talents div input:first-child {
		text-align: left;
		justify-content: unset;
	}
	
	.ambitions {
		width: 55%;
		height: 100%;
	}
	.ambitions>div:last-child {
		border-top: 3px black solid;
	}

	.personal_ambitions {
		width: 100%;
		height: 40%;
	}
	.party_ambitions {
		width: 100%;
		height: 60%;
	}
	.personal_ambitions>div:not(:first-child) {
		height: 45px;
	}
	.party_ambitions>div:not(:first-child) {
		height: 75px;
	}
	.personal_ambitions div>textarea,
	.party_ambitions div>textarea {
		resize: none;
		text-align: right;
	}
	.personal_ambitions div div,
	.party_ambitions div div {
		font-size: 10px;
	}

	.log_notes {
		width: 100%;
		height: 108px;
		display: flex;
	}
	.log_notes>div:not(:last-child) {
		border-right: 3px black solid;
	}

	.experience_log {
		width: 45%;
		height: 100%;
		overflow: hidden;
	}

	.notes {
		width: 55%;
		height: 100%;
		overflow: hidden;
	}
	.notes div:has(textarea) {
		height: calc(100% - 30px);
	}
	.notes div>textarea {
		resize: none;
		width: 100%;
		height: 100%;
	}
	
	.trappings_other {
		width: 100%;
		height: 500px;
		display: grid;
		grid-template-columns: 40% 30% 30%;
		grid-template-rows: 150px 200px 150px;
		grid-template-areas:
			"armour armour image"
			"trapping . image"
			"trapping . .";
	}
	.trappings_other>div:first-child,
	.trappings_other>div:nth-child(2),
	.trappings_other>div:nth-child(4) {
		border-bottom: 3px black solid;
	}
	.trappings_other>div:nth-child(2),
	.trappings_other>div:last-child {
		border-left: 3px black solid;
	}
	.trappings_other>div:nth-child(3) {
		border-right: 3px black solid;
	}

	.armour {
		grid-area: armour;
		overflow: hidden;
	}
	
	.image {
		grid-area: image;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.trapping {
		grid-area: trapping;
		overflow: hidden;
	}

	.psychology_mutation {
		display: flex;
		flex-direction: column;
	}
	.psychology_mutation>div:first-child {
		border-bottom: 3px black solid;
	}
	
	.psychology {
		width: 100%;
		height: 50%;
		overflow: hidden;
	}
	
	.mutation {
		width: 100%;
		height: 50%;
		overflow: hidden;
	}

	.money_encumbrance {
		display: flex;
	}
	.money_encumbrance>div:first-child {
		border-right: 3px black solid;
	}
	
	.money {
		width: 50%;
		height: 100%;
	}
	.money>div:not(:first-child) {
		height: 40px;
	}
	
	.encumbrance {
		width: 50%;
		height: 100%;
	}
	.encumbrance>div:not(:first-child) {
		height: 25px;
	}
	
	.wounds {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}
	.wounds>div:first-child>div:first-child {
		height: 30px;
		font-size: 16px;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		border-right: 1px black solid;
	}
	.wounds>div:first-child>input {
		font-size: 16px;
	}
	.wounds div:not(:first-child)>input {
		white-space: nowrap;
	}
	
	.weapon {
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
	
	.magic {
		width: 100%;
		height: 212.8px;
		overflow: hidden;
	}
	.magic>div:first-child>div:first-child {
		font-size: 16px;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		border-bottom: 1px black solid;
		border-right: unset;
	}
	.magic>div:first-child>div,
	.magic>div:first-child>div>* {
		height: 30px;
	}
</style>
<body>
	<div>
		<div class="details">
			<div>
				<div style="width: 37.5%;">
					<span>{{localize "Name"}}</span>
					<input {{settings.editable}} value="{{name}}">
				</div>
				<div style="width: 62.5%;">
					<div style="width: 60%;">
						<span>{{localize "Species"}}</span>
						<input {{settings.editable}} value="{{race}}">
					</div>
					<div style="width: 40%;">
						<span>{{localize "Gender"}}</span>
						<input {{settings.editable}} value="{{gender}}">
					</div>
				</div>
			</div>
			<div>
				<div style="width: 37.5%;">
					<span>{{localize "Class"}}</span>
					<input {{settings.editable}} title="{{settings.type}}" value="{{class}}">
				</div>
				<div style="width: 62.5%;">
					<div style="width: 60%;">
						<span>{{localize "Career"}}</span>
						<input {{settings.editable}} title="{{settings.type}}" value="{{career}}">
					</div>
					<div style="width: 40%;">
						<span>{{localize "WFRP4E.PS.CareerLevel"}}</span>
						<input {{settings.editable}} title="{{settings.type}}" value="{{careerlevel}}">
					</div>
				</div>
			</div>
			<div>
				<div style="width: 75%;">
					<span>{{localize "WFRP4E.PS.CareerPath"}}</span>
					<input {{settings.editable}} title="{{settings.type}}" value="{{careerpath}}">
				</div>
				<div style="width: 25%;">
					<span>{{localize "Status"}}</span>
					<input {{settings.editable}} value="{{status}}">
				</div>
			</div>
			<div>
				<div style="width: 25%;">
					<span>{{localize "Age"}}</span>
					<input {{settings.editable}} title="{{settings.type}}" value="{{age}}">
				</div>
				<div style="width: 25%;">
					<span>{{localize "CharacterHeight"}} ({{localize "Weight"}})</span>
					<input {{settings.editable}} title="{{settings.type}}" value="{{height}} ({{weight}})">
				</div>
				<div style="width: 25%;">
					<span>{{localize "Hair Colour"}}</span>
					<input {{settings.editable}} title="{{settings.type}}" value="{{haircolour}}">
				</div>
				<div style="width: 25%;">
					<span>{{localize "Eye Colour"}}</span>
					<input {{settings.editable}} title="{{settings.type}}" value="{{eyecolour}}">
				</div>
			</div>
		</div>

		<div class="characteristics_body">
			<div class="characteristics">
				<div>{{localize "Characteristics"}}</div>
				<div>
					<div style="width: 20%;"></div>
					<div style="width: 8%;">{{localize "CHARAbbrev.WS"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.BS"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.S"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.T"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.I"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.Ag"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.Dex"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.Int"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.WP"}}</div>
					<div style="width: 8%;">{{localize "CHARAbbrev.Fel"}}</div>
				</div>
				<div>
					<div style="width: 20%;">{{localize "Initial"}}</div>
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ws.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.bs.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.s.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.t.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.i.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ag.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.dex.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.int.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.wp.initial}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.fel.initial}}">
				</div>
				<div>
					<div style="width: 20%;">{{localize "SHEET.AdvAbbrev"}}</div>
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ws.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.bs.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.s.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.t.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.i.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ag.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.dex.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.int.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.wp.advances}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.fel.advances}}">
				</div>
				<div>
					<div style="width: 20%;">{{localize "WFRP4E.PS.Modifier"}}</div>
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ws.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.bs.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.s.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.t.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.i.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ag.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.dex.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.int.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.wp.modifier}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.fel.modifier}}">
				</div>
				<div>
					<div style="width: 20%;">{{localize "Current"}}</div>
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ws.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.bs.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.s.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.t.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.i.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.ag.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.dex.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.int.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.wp.current}}">
					<input style="width: 8%;" {{settings.editable}} value="{{characteristics.fel.current}}">
				</div>
			</div>
	
			<div class="fate">
				<div>{{localize "Fate"}}</div>
				<div>
					<div style="width: 75%;">{{localize "Fate"}}</div>
					<input style="width: 25%;" {{settings.editable}} title="{{settings.type}}" value="{{fate.fate}}">
				</div>
				<div>
					<div style="width: 75%;">{{localize "Fortune"}}</div>
					<input style="width: 25%;" {{settings.editable}} title="{{settings.type}}" value="{{fate.fortune}}">
				</div>
			</div>
			
			<div class="resilience">
				<div>{{localize "Resilience"}}</div>
				<div>
					<div style="width: 50%;">
						<div style="width: 75%;">{{localize "Resilience"}}</div>
						<input style="width: 25%;" {{settings.editable}} title="{{settings.type}}" value="{{resilience.resilience}}">
					</div>
					<div style="width: 50%;">
						<input style="width: 25%;" {{settings.editable}} title="{{settings.type}}" value="{{resilience.resolve}}">
						<div style="width: 75%; font-size: 10px;">{{localize "Resolve"}}</div>
					</div>
				</div>
				<div>
					<div style="width: 37.5%;">{{localize "Motivation"}}</div>
					<input style="width: 62.5%;" {{settings.editable}} title="{{settings.type}}" value="{{resilience.motivation}}">
				</div>
			</div>
			
			<div class="experience">
				<div>{{localize "Experience"}}</div>
				<div>
					<div style="width: 33%;">{{localize "WFRP4E.PS.Experience Current"}}</div>
					<div style="width: 33%;">{{localize "Spent"}}</div>
					<div style="width: 34%;">{{localize "Total"}}</div>
				</div>
				<div>
					<div style="width: 33%;">
						<input {{settings.editable}} title="{{settings.type}}" value="{{experience.current}}">
					</div>
					<div style="width: 33%;">
						<input {{settings.editable}} title="{{settings.type}}" value="{{experience.spent}}">
					</div>
					<div style="width: 34%;">
						<input {{settings.editable}} title="{{settings.type}}" value="{{experience.total}}">
					</div>
				</div>
			</div>

			<div class="move">
				<div>{{localize "Move"}}</div>
				<div>
					<div style="width: 33%;">
						<div style="width: 75%;">{{localize "WFRP4E.PS.Movement"}}</div>
						<input style="width: 25%;" {{settings.editable}} value="{{move.movement}}">
					</div>
					<div style="width: 33%;">
						<div style="width: 75%;">{{localize "Walk"}}</div>
						<input style="width: 25%;" {{settings.editable}} value="{{move.walk}}">
					</div>
					<div style="width: 34%;">
						<div style="width: 75%;">{{localize "Run"}}</div>
						<input style="width: 25%;" {{settings.editable}} value="{{move.run}}">
					</div>
				</div>
			</div>
		</div>
        
		<div class="skills">
			<div class="basic_skills_1">
				<div>{{localize "Basic Skills"}}</div>
				<div>
					<div style="width: 40%;">{{localize "Name"}}</div>
					<div style="width: 30%;">{{localize "SHEET.CharAbbrev"}}</div>
					<div style="width: 15%;">{{localize "SHEET.AdvAbbrev"}}</div>
					<div style="width: 15%;">{{localize "Total"}}</div>
				</div>
				{{#each skills.bsc1}}
					<div>
						<input style="width: 40%;" {{this.editable}} value="{{this.name}}">
						<div style="width: 15%;">{{this.characteristic}}</div>
						<input style="width: 15%;" {{this.editable}} value="{{this.characteristicValue}}">
						<input style="width: 15%;" {{this.editable}} value="{{this.advances}}">
						<input style="width: 15%;" {{this.editable}} value="{{this.total}}">
					</div>
				{{/each}}
			</div>
	
			<div class="basic_skills_2">
				<div>{{localize "Basic Skills"}}</div>
				<div>
					<div style="width: 40%;">{{localize "Name"}}</div>
					<div style="width: 30%;">{{localize "SHEET.CharAbbrev"}}</div>
					<div style="width: 15%;">{{localize "SHEET.AdvAbbrev"}}</div>
					<div style="width: 15%;">{{localize "Total"}}</div>
				</div>
				<div class="content">
					{{#each skills.bsc2}}
						<div>
							<input style="width: 40%;" {{this.editable}} value="{{this.name}}">
							<div style="width: 15%;">{{this.characteristic}}</div>
							<input style="width: 15%;" {{this.editable}} value="{{this.characteristicValue}}">
							<input style="width: 15%;" {{this.editable}} value="{{this.advances}}">
							<input style="width: 15%;" {{this.editable}} value="{{this.total}}">
						</div>
					{{/each}}
				</div>
			</div>
	
			<div class="advanced_skills">
				<div>{{localize "Grouped & Advanced Skills"}}</div>
				<div>
					<div style="width: 40%;">{{localize "Name"}}</div>
					<div style="width: 30%;">{{localize "SHEET.CharAbbrev"}}</div>
					<div style="width: 15%;">{{localize "SHEET.AdvAbbrev"}}</div>
					<div style="width: 15%;">{{localize "Total"}}</div>
				</div>
				<div class="content">
					{{#each skills.adv}}
						<div>
							<input style="width: 40%;" {{this.editable}} value="{{this.name}}">
							<div style="width: 15%;">{{this.characteristic}}</div>
							<input style="width: 15%;" {{this.editable}} value="{{this.characteristicValue}}">
							<input style="width: 15%;" {{this.editable}} value="{{this.advances}}">
							<input style="width: 15%;" {{this.editable}} value="{{this.total}}">
						</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="talents_ambitions">
			<div class="talents">
				<div>{{localize "Talents"}}</div>
				<div>
					<div style="width: 30%;">{{localize "Name"}}</div>
					<div style="width: 15%;">{{localize "Level"}}</div>
					<div style="width: 55%;">{{localize "Tests"}}</div>
				</div>
				<div class="content">
					{{#each talents}}
						<div>
							<input style="width: 30%;" {{this.editable}} value="{{this.name}}">
							<input style="width: 15%;" {{this.editable}} value="{{this.advances}}">
							<input style="width: 55%;" {{this.editable}} value="{{this.description}}">
						</div>
					{{/each}}
				</div>
			</div>
			
			<div class="ambitions">
				<div class="personal_ambitions">
					<div>{{localize "Personal Ambitions"}}</div>
					<div>
						<div style="width: 20%; height: 100%;">{{localize "Short Term"}}</div>
						<textarea style="width: 80%; height: 100%;" {{settings.editable}} title="{{settings.type}}">{{ambitions.personal.short}}</textarea>
					</div>
					<div>
						<div style="width: 20%; height: 100%;">{{localize "Long Term"}}</div>
						<textarea style="width: 80%; height: 100%;" {{settings.editable}} title="{{settings.type}}">{{ambitions.personal.long}}</textarea>
					</div>
				</div>
				
				<div class="party_ambitions">
					<div>{{localize "Party Ambitions"}}</div>
					<div>
						<div style="width: 20%; height: 100%;">{{localize "Short Term"}}</div>
						<textarea style="width: 80%; height: 100%;" {{settings.editable}} title="{{settings.type}}">{{ambitions.party.short}}</textarea>
					</div>
					<div>
						<div style="width: 20%; height: 100%;">{{localize "Long Term"}}</div>
						<textarea style="width: 80%; height: 100%;" {{settings.editable}} title="{{settings.type}}">{{ambitions.party.long}}</textarea>
					</div>
				</div>
			</div>
		</div>
		
		<div class="log_notes">
			<div class="experience_log">
				<div>{{localize "SHEET.ExperienceLog"}}</div>
				<div class="content" title="{{settings.type}}">
					{{#each experience.log}}
						<div>
							<input style="width: 50%;" {{this.editable}} value="{{this.reason}}">
							<input style="width: 50%;" {{this.editable}} value="{{this.amount}}">
						</div>
					{{/each}}
				</div>
			</div>
			
			<div class="notes">
				<div>{{localize "Notes"}}</div>
				<div>
					<textarea {{settings.editable}}>{{notes}}</textarea>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<div class="trappings_other">
			<div class="armour">
				<div>{{localize "Armour"}}</div>
				<div>
					<div style="width: 30%;">{{localize "Name"}}</div>
					<div style="width: 20%;">{{localize "Location"}}</div>
					<div style="width: 10%;">{{localize "SHEET.EncAbbrev"}}</div>
					<div style="width: 10%;">{{localize "WFRP4E.PS.AP"}}</div>
					<div style="width: 30%;">{{localize "WFRP4E.PS.Qualities"}}</div>
				</div>
				<div class="content">
					{{#each armours}}
						<div>
							<input style="width: 30%;" {{this.editable}} value="{{this.name}}">
							<input style="width: 20%;" {{this.editable}} value="{{this.locations}}">
							<input style="width: 10%;" {{this.editable}} value="{{this.encumbrance}}">
							<input style="width: 10%;" {{this.editable}} value="{{this.ap}}">
							<input style="width: 30%;" {{this.editable}} value="{{this.qualities}}">
						</div>
					{{/each}}
				</div>
			</div>
			
			<div class="image">
				<img style="max-width: 100%; max-height: 100%;" src="{{avatar}}">
			</div>
	
			<div class="trapping">
				<div>{{localize "Trapping"}}</div>
				<div>
					<div style="width: 80%;">{{localize "Name"}}</div>
					<div style="width: 20%;">{{localize "SHEET.EncAbbrev"}}</div>
				</div>
				<div class="content">
					{{#each trappings}}
						<div>
							<input style="width: 80%;" {{this.editable}} value="{{this.name}}">
							<input style="width: 20%;" {{this.editable}} value="{{this.encumbrance}}">
						</div>
					{{/each}}
				</div>
			</div>
			
			<div class="psychology_mutation">
				<div class="psychology">
					<div>{{localize "Psychology"}}</div>
					<div class="content">
						{{#each psychologys}}
							<div>
								<input style="width: 100%;" {{this.editable}} value="{{this.name}}">
							</div>
						{{/each}}
					</div>
				</div>
				
				<div class="mutation">
					<div>{{localize "Corruption&Mutation"}}</div>
					<div class="content">
						{{#each mutations}}
							<div>
								<input style="width: 100%;" {{this.editable}} value="{{this.name}}">
							</div>
						{{/each}}
					</div>
				</div>
			</div>
	
			<div class="money_encumbrance">
				<div class="money">
					<div>{{localize "Money"}}</div>
					<div>
						<div style="width: 50%; height: 100%;">
							<span title="{{localize 'NAME.BP'}}">{{localize "MARKET.Abbrev.BP"}}</span>
							<!--Здесь должна быть ссылка на изображение Медного пенни, но из-за авторских прав и требований Foundry их здесь быть не может :'(
								<img height="100%" src="https://raw.githubusercontent.com/nPocToI4eJI/wfrp4e-print-sheet/refs/heads/main/assets/brasspenny.png">
							-->
						</div>
						<input style="width: 50%;" {{settings.editable}} value="{{money.bp}}">
					</div>
					<div>
						<div style="width: 50%; height: 100%;">
							<span title="{{localize 'NAME.SS'}}">{{localize "MARKET.Abbrev.SS"}}</span>
							<!--Здесь должна быть ссылка на изображение Серебрянного шиллинга, но из-за авторских прав и требований Foundry их здесь быть не может :'(
								<img height="100%" src="https://raw.githubusercontent.com/nPocToI4eJI/wfrp4e-print-sheet/refs/heads/main/assets/silvershilling.png">
							-->
						</div>
						<input style="width: 50%;" {{settings.editable}} value="{{money.ss}}">
					</div>
					<div>
						<div style="width: 50%; height: 100%;">
							<span title="{{localize 'NAME.GC'}}">{{localize "MARKET.Abbrev.GC"}}</span>
							<!--Здесь должна быть ссылка на изображение Золотой кроны, но из-за авторских прав и требований Foundry их здесь быть не может :'(
								<img height="100%" src="https://raw.githubusercontent.com/nPocToI4eJI/wfrp4e-print-sheet/refs/heads/main/assets/goldcrown.png">
							-->
						</div>
						<input style="width: 50%;" {{settings.editable}} value="{{money.gc}}">
					</div>
				</div>
		
				<div class="encumbrance">
					<div>{{localize "SHEET.Encumbrance"}}</div>
					<!--
						<div>
							<div style="width: 50%; height: 100%;">{{localize "Weapon"}}</div>
							<input style="width: 50%; height: 100%;" {{settings.editable}} value="{{encumbrance.weapon}}">
						</div>
						<div>
							<div style="width: 50%; height: 100%;">{{localize "Armour"}}</div>
							<input style="width: 50%; height: 100%;" {{settings.editable}} value="{{encumbrance.armour}}">
						</div>
						<div>
							<div style="width: 50%; height: 100%;">{{localize "Trapping"}}</div>
							<input style="width: 50%; height: 100%;" {{settings.editable}} value="{{encumbrance.trapping}}">
						</div>
					-->
					<div>
						<div style="width: 50%; height: 100%;">{{localize "Max"}}</div>
						<input style="width: 50%; height: 100%;" {{settings.editable}} value="{{encumbrance.max}}">
					</div>
					<div>
						<div style="width: 50%; height: 100%;">{{localize "Total"}}</div>
						<input style="width: 50%; height: 100%;" {{settings.editable}} value="{{encumbrance.total}}">
					</div>
				</div>

			</div>
			
			<div class="wounds">
				<div>
					<div style="width: 50%;">{{localize "Wounds"}}</div>
					<input style="width: 50%;" {{settings.editable}} value="{{wounds.current}}&nbsp;/&nbsp;{{wounds.max}}">
				</div>
				<div class="content">
					{{#each criticals}}
						<div>
							<input style="width: 50%;" {{this.editable}} value="{{this.name}}">
							<input style="width: 50%;" {{this.editable}} value="{{this.location}}">
						</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="weapon">
			<div>{{localize "Weapon"}}</div>
			<div>
				<div style="width: 25%;">{{localize "Name"}}</div>
				<div style="width: 10%;">{{localize "Group"}}</div>
				<div style="width: 5%;">{{localize "SHEET.EncAbbrev"}}</div>
				<div style="width: 10%;">{{localize "Length"}}</div>
				<div style="width: 20%;">{{localize "Damage"}}</div>
				<div style="width: 30%;">{{localize "WFRP4E.PS.Qualities"}}</div>
			</div>
			<div class="content">
				{{#each weapons}}
					<div>
						<input style="width: 25%;" {{this.editable}} value="{{this.name}}">
						<input style="width: 10%;" {{this.editable}} value="{{this.group}}">
						<input style="width: 5%;" {{this.editable}} value="{{this.encumbrance}}">
						<input style="width: 10%;" {{this.editable}} value="{{this.reach}}">
						<input style="width: 20%;" {{this.editable}} value="{{this.damage}}">
						<input style="width: 30%;" {{this.editable}} value="{{this.qualities}}">
					</div>
				{{/each}}
			</div>
		</div>
		
		<div class="magic">
			<div>
				<div style="width: 90%; text-indent: 20%;">{{localize "Magic"}}&nbsp&&nbsp{{localize "Religion"}}</div>
				<div style="width: 10%;">
					<div style="width: 50%;">{{localize "Sin"}}</div>
					<input style="width: 50%;" {{settings.editable}} value="{{magics.sin}}">
				</div>
			</div>
			<div>
				<div style="width: 35%;">{{localize "Name"}}</div>
				<div style="width: 5%;">{{localize "CN"}}</div>
				<div style="width: 15%;">{{localize "WFRP4E.PS.Range"}}</div>
				<div style="width: 15%;">{{localize "Target"}}</div>
				<div style="width: 15%; font-size: 10px;">{{localize "WFRP4E.PS.Duration"}}</div>
				<div style="width: 15%;">{{localize "Type"}}</div>
			</div>
			<div class="content">
				{{#each magics.list}}
					<div>
						<input style="width: 35%;" {{this.editable}} value="{{this.name}}">
						<input style="width: 5%;" {{this.editable}} value="{{this.cn}}">
						<input style="width: 15%;" {{this.editable}} value="{{this.range}}">
						<input style="width: 15%;" {{this.editable}} value="{{this.target}}">
						<input style="width: 15%;" {{this.editable}} value="{{this.duration}}">
						<input style="width: 15%;" {{this.editable}} value="{{this.type}}">
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</body>